.input {
    background: #00a2ff;
    border-bottom-width: auto;
    border-bottom: 2px solid;
    border-bottom-color: black;
    text-align: right;
    font-size: 35px;
    width: auto;
    height: 50px;
}

.output {
    background: #00a2ff;
    text-align: right;
    font-size: 35px;
    width: auto;
    height: 50px;
}

.btnAC {
    width: 64%;
    margin-right: 2%;
}

.btnAction {
    width: 34%;
}

.btnDigit {
    width: 20%;
    border: 1px solid;
    margin-right: 2%;
}

.btnResult {
    width: 56%;
}