<h2 style="text-align: center;"> Co znajdziesz na stronie? </h2>
<div class="row mt-2 shadow p-3 mb-5 bg-white rounded">
    <div class="col-sm">
        <h3 style="text-align: center;">Kalkulator</h3>
       <img src="assets/img/calculatorImg.png" class="img-fluid"> 
       <h6 style="text-align: center;">Kalkulator znajdujący się na stronie pozwoli w łatwy
         sposób obliczyć proste obliczenia.</h6>
        <nav class="nav-item border rounded mb-2">
            <a class="nav-link" style="text-align: center;" href="/calculator">Przejdź do kalkulatora</a>
        </nav>
    </div>
    <div class="col-sm">
        <h3 style="text-align: center;">Aktualne kursy walut</h3>
        <img src="assets/img/currencyImg.jpg" class="img-fluid">
        <h6 style="text-align: center;">Na stronie znajdują się aktualne kursy
            walut, które również można przeliczyć na złotówki.</h6>
        <nav class="nav-item">
            <a class="nav-link border rounded mb-2"  style="text-align: center;" href="/currency">Sprawdź kursy walut</a>
        </nav>
    </div>
</div>
